publicDataShareLinkedTemplate/appLogicActionRule.json
{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
      "connection_name": {
            "type": "String",
            "metadata": {
             "description": "The name must begin with a letter or number, end with a letter, number or underscore, and may contain only letters, numbers, underscores, periods, or hyphens."
            }
        },
        "appLogicName": {
            "type": "String",
            "metadata": {
             "description": "The name can only contain letters, numbers, and '-', '(', ')', '_' or '.'"
            }
        }
  },
   "variables": {
        "actionRuleForSuppressResolvedNotification": "AssadSuppressResolvedNotificationRule"
    },
  "resources": [
      {
            "type": "Microsoft.AlertsManagement/actionRules",
            "apiVersion": "2019-05-05-preview",
            "name": "[variables('actionRuleForSuppressResolvedNotification')]",
            "location": "global",
            "properties": {
                "conditions": {
                    "monitorCondition": {
                        "operator": "Equals",
                        "values": [
                            "Resolved"
                        ]
                    }
                },
                "status": "Enabled",
                "type": "Suppression",
                "scope": {
                    "scopeType": "ResourceGroup",
                    "values": [
                       "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/',resourceGroup().name )]"
                    ]
                },
                "suppressionConfig": {
                    "recurrenceType": "Always"
                },
                "description": "This rule will supress the resolved notifications in email and ms teams"
            }
        },
         {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connection_name')]",
            "location": "eastus",
            "kind": "V1",
            "properties": {
                "displayName": "TeamsNotification",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/eastus/managedApis/teams')]"

                }
            }
        },
         {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('appLogicName')]",
            "location": "eastus",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connection_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "context": {
                                                    "properties": {
                                                        "condition": {
                                                            "properties": {
                                                                "allOf": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "dimensions": {
                                                                                "items": {
                                                                                    "properties": {
                                                                                        "name": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "value": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "name",
                                                                                        "value"
                                                                                    ],
                                                                                    "type": "object"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "metricName": {
                                                                                "type": "string"
                                                                            },
                                                                            "metricNamespace": {
                                                                                "type": "string"
                                                                            },
                                                                            "metricValue": {
                                                                                "type": "integer"
                                                                            },
                                                                            "operator": {
                                                                                "type": "string"
                                                                            },
                                                                            "threshold": {
                                                                                "type": "string"
                                                                            },
                                                                            "timeAggregation": {
                                                                                "type": "string"
                                                                            },
                                                                            "webTestName": {}
                                                                        },
                                                                        "required": [
                                                                            "metricName",
                                                                            "metricNamespace",
                                                                            "operator",
                                                                            "threshold",
                                                                            "timeAggregation",
                                                                            "dimensions",
                                                                            "metricValue",
                                                                            "webTestName"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "windowSize": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "conditionType": {
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "portalLink": {
                                                            "type": "string"
                                                        },
                                                        "resourceGroupName": {
                                                            "type": "string"
                                                        },
                                                        "resourceId": {
                                                            "type": "string"
                                                        },
                                                        "resourceName": {
                                                            "type": "string"
                                                        },
                                                        "resourceType": {
                                                            "type": "string"
                                                        },
                                                        "severity": {
                                                            "type": "string"
                                                        },
                                                        "subscriptionId": {
                                                            "type": "string"
                                                        },
                                                        "timestamp": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "properties": {},
                                                "status": {
                                                    "type": "string"
                                                },
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "schemaId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Switch": {
                            "runAfter": {},
                            "cases": {
                                "Case": {
                                    "case": "ActivityFailedRuns",
                                    "actions": {
                                        "Post_a_message_(V3)": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><span style=\"font-size: 14px\"><strong>Activity Failed Alert<br>\n<br>\n<br>\nAlert generated by resource:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()?['data']?['context']?['id']}</span><span style=\"font-size: 14px\">&nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Alert name: </strong></span><span style=\"font-size: 14px\"></span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['name']}</span><span style=\"font-size: 14px\"> &nbsp;&nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Description:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['description']}</span><span style=\"font-size: 14px\"> &nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>ResourceGroup Name:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['resourceGroupName']}</span><span style=\"font-size: 14px\"><br>\n</span><span style=\"font-size: 14px\"><strong>Alert time</strong></span><span style=\"font-size: 14px\">: </span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['timestamp']}</span><span style=\"font-size: 14px\">&nbsp;&nbsp;&nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Resource Name: </strong></span><span style=\"font-size: 14px\"></span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['resourceName']}</span><span style=\"font-size: 14px\"> &nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Resource Type:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['resourceType']}</span><span style=\"font-size: 14px\"> &nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Failed Activity Name:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody().data.context.condition.allOf[0].dimensions[4]['value']}</span><span style=\"font-size: 14px\">&nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Failed Activity Type: </strong></span><span style=\"font-size: 14px\"></span><span style=\"font-size: 14px\">@{triggerBody().data.context.condition.allOf[0].dimensions[1]['value']}</span><span style=\"font-size: 14px\"><br>\n</span><span style=\"font-size: 14px\"><strong>Failure Type:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody().data.context.condition.allOf[0].dimensions[2]['value']}</span><span style=\"font-size: 14px\">&nbsp;</span><span style=\"font-size: 14px\"><strong><br>\n</strong></span></p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                },
                                "Case_2": {
                                    "case": "PipelineFailedRuns",
                                    "actions": {
                                        "Post_a_message_(V3)_2": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><span style=\"font-size: 14px\"><strong>Pipeline Failed Alert !</strong></span><span style=\"font-size: 14px\"><br>\n<br>\n<br>\n</span><span style=\"font-size: 14px\"><strong>Alert generated by resource: </strong></span><span style=\"font-size: 14px\"></span><span style=\"font-size: 14px\">@{triggerBody()?['data']?['context']?['id']}</span><span style=\"font-size: 14px\"><br>\n</span><span style=\"font-size: 14px\"><strong>Alert name:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['name']}</span><span style=\"font-size: 14px\"> &nbsp;&nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Description: </strong></span><span style=\"font-size: 14px\"></span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['description']}</span><span style=\"font-size: 14px\"> &nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Alert time: </strong></span><span style=\"font-size: 14px\"></span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['timestamp']}</span><span style=\"font-size: 14px\"> &nbsp;&nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Resource Name:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['resourceName']}</span><span style=\"font-size: 14px\"><br>\n</span><span style=\"font-size: 14px\"><strong>ResourceGroup Name:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['resourceGroupName']}</span><span style=\"font-size: 14px\"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Resource Type: </strong></span><span style=\"font-size: 14px\"></span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['resourceType']}</span><span style=\"font-size: 14px\"> &nbsp;&nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Failed Pipeline Name</strong></span><span style=\"font-size: 14px\">: </span><span style=\"font-size: 14px\">@{triggerBody().data.context.condition.allOf[0].dimensions[1]['value']}</span><span style=\"font-size: 14px\"><br>\n</span><span style=\"font-size: 14px\"><strong>Failure Type:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody().data.context.condition.allOf[0].dimensions[2]['value']}</span><span style=\"font-size: 14px\"></span></p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                },
                                "Case_3": {
                                    "case": "ActivityCancelledRuns",
                                    "actions": {
                                        "Post_a_message_(V3)_3": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><span style=\"font-size: 14px\"><strong>Activity Cancellation Alert !<br>\n<br>\n</strong></span><span style=\"font-size: 14px\"><br>\n</span><span style=\"font-size: 14px\"><strong>Alert generated by resource: </strong></span><span style=\"font-size: 14px\"></span><span style=\"font-size: 14px\">@{triggerBody()?['data']?['context']?['id']}</span><span style=\"font-size: 14px\"><br>\n</span><span style=\"font-size: 14px\"><strong>Alert name:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['name']}</span><span style=\"font-size: 14px\"> &nbsp;&nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Description:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['description']}</span><span style=\"font-size: 14px\"> &nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Alert time: </strong></span><span style=\"font-size: 14px\"></span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['timestamp']}</span><span style=\"font-size: 14px\"> &nbsp;&nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Resource Group Name:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['resourceGroupName']}</span><span style=\"font-size: 14px\"><br>\n</span><span style=\"font-size: 14px\"><strong>Resource Name:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['resourceName']}</span><span style=\"font-size: 14px\"> &nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Resource Type:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['resourceType']}</span><span style=\"font-size: 14px\"> &nbsp;&nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Cancelled Activity Name:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody().data.context.condition.allOf[0].dimensions[2]['value']}</span><span style=\"font-size: 14px\"><br>\n</span><span style=\"font-size: 14px\"><strong>Cancelled Activity Type:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody().data.context.condition.allOf[0].dimensions[1]['value']}</span><span style=\"font-size: 14px\"></span></p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                },
                                "Case_4": {
                                    "case": "PipelineCancelledRuns",
                                    "actions": {
                                        "Post_a_message_(V3)_4": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><span style=\"font-size: 14px\"><strong>Pipeline Cancellation Alert !<br>\n</strong></span><span style=\"font-size: 14px\">&nbsp;<br>\n<br>\n</span><span style=\"font-size: 14px\"><strong>Alert generated by resource:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()?['data']?['context']?['id']}</span><span style=\"font-size: 14px\"><br>\n</span><span style=\"font-size: 14px\"><strong>Alert name: </strong></span><span style=\"font-size: 14px\"></span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['name']}</span><span style=\"font-size: 14px\"> &nbsp;&nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Description:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['description']}</span><span style=\"font-size: 14px\"> &nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Alert time: </strong></span><span style=\"font-size: 14px\"></span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['timestamp']}</span><span style=\"font-size: 14px\"> &nbsp;&nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Resource Group Name:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['resourceGroupName']}</span><span style=\"font-size: 14px\"><br>\n</span><span style=\"font-size: 14px\"><strong>Resource Name:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['resourceName']}</span><span style=\"font-size: 14px\"> &nbsp;&nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Resource Type:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['resourceType']}</span><span style=\"font-size: 14px\"> &nbsp;&nbsp;&nbsp;<br>\n</span><span style=\"font-size: 14px\"><strong>Cancelled Pipeline:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody().data.context.condition.allOf[0].dimensions[1]['value']}</span><span style=\"font-size: 14px\"></span></p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                },
                                "Case_5": {
                                    "case": "PipelineSucceededRuns",
                                    "actions": {
                                        "Post_a_message_(V3)_5": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><span style=\"font-size: 14px\"><strong>Pipeline Succeeded Alert !<br>\n</strong></span><span style=\"font-size: 14px\"><br>\n<br>\n</span><span style=\"font-size: 14px\"><strong>Alert generated by resource: </strong></span><span style=\"font-size: 14px\"></span><span style=\"font-size: 14px\">@{triggerBody()?['data']?['context']?['id']}</span><span style=\"font-size: 14px\"><br>\n</span><span style=\"font-size: 14px\"><strong>Alert Name: </strong></span><span style=\"font-size: 14px\"></span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['name']}</span><span style=\"font-size: 14px\"><br>\n</span><span style=\"font-size: 14px\"><strong>Alert Description:</strong></span><span style=\"font-size: 14px\"></span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['description']}</span><span style=\"font-size: 14px\"><br>\n</span><span style=\"font-size: 14px\"><strong>Time:</strong></span><span style=\"font-size: 14px\"></span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['timestamp']}</span><span style=\"font-size: 14px\"><br>\n</span><span style=\"font-size: 14px\"><strong>Resource Group:</strong></span><span style=\"font-size: 14px\"></span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['resourceGroupName']}</span><span style=\"font-size: 14px\"><br>\n</span><span style=\"font-size: 14px\"><strong>Resource :</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['resourceName']}</span><span style=\"font-size: 14px\"><br>\n</span><span style=\"font-size: 14px\"><strong>Resource Type:</strong></span><span style=\"font-size: 14px\"> </span><span style=\"font-size: 14px\">@{triggerBody()['data']['context']['resourceType']}</span><span style=\"font-size: 14px\"><br>\n</span></p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                },
                                "Case_6": {
                                    "case": "TriggerFailedRuns",
                                    "actions": {
                                        "Post_a_message_(V3)_10": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><strong>Pipeline Trigger Failed Alert !<br>\n<br>\n<br>\nAlert generated by resource:</strong> @{triggerBody()?['data']?['context']?['id']}&nbsp;&nbsp;<br>\n<strong>Alert name:</strong> @{triggerBody()['data']['context']['name']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Description</strong>: @{triggerBody()['data']['context']['description']} &nbsp;&nbsp;<br>\n<strong>Alert time:</strong> @{triggerBody()['data']['context']['timestamp']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Name: </strong>@{triggerBody()['data']['context']['resourceName']}<br>\n<strong>ResourceGroup Name: </strong>@{triggerBody()['data']['context']['resourceGroupName']} &nbsp;&nbsp;&nbsp;&nbsp;<strong><br>\nResource Type:</strong> @{triggerBody()['data']['context']['resourceType']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Failed Pipeline Name:</strong> @{triggerBody().data.context.condition.allOf[0].dimensions[1]['value']}<br>\n<strong>Failure Type:</strong> @{triggerBody().data.context.condition.allOf[0].dimensions[2]['value']}</p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                },
                                "Case_7": {
                                    "case": "TriggerCancelledRuns",
                                    "actions": {
                                        "Post_a_message_(V3)_11": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><strong>Pipeline Triggered Cancellation Alert !<br>\n<br>\n<br>\nAlert generated by resource: </strong>@{triggerBody()?['data']?['context']?['id']}&nbsp;<br>\n<strong>Alert name:</strong> @{triggerBody()['data']['context']['name']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Description:</strong> @{triggerBody()['data']['context']['description']} &nbsp;&nbsp;<br>\n<strong>Alert time:</strong> @{triggerBody()['data']['context']['timestamp']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Group Name:</strong> @{triggerBody()['data']['context']['resourceGroupName']}<br>\n<strong>Resource Name:</strong> @{triggerBody()['data']['context']['resourceName']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Type:</strong> @{triggerBody()['data']['context']['resourceType']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Cancelled Pipeline: </strong>@{triggerBody().data.context.condition.allOf[0].dimensions[1]['value']}</p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@triggerBody().data.context.condition.allOf[0].metricName",
                            "type": "Switch"
                        },
                        "Switch_2": {
                            "runAfter": {},
                            "cases": {
                                "Case": {
                                    "case": "AlertOnMoreCurrentSchemaColumns",
                                    "actions": {
                                        "Post_a_message_(V3)_7": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><strong><br>\nCurrent schema has more columns than previous schema alert !<br>\n<br>\n<br>\n<br>\nAlert generated by resource</strong>: @{triggerBody()?['data']?['context']?['id']}<br>\n<strong>Alert name</strong>: @{triggerBody()['data']['context']['name']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Alert Description</strong>: @{triggerBody()['data']['context']['description']} &nbsp;&nbsp;<br>\n<strong>ResourceGroup Name</strong>: @{triggerBody()['data']['context']['resourceGroupName']}<br>\n<strong>Alert time</strong>: @{triggerBody()['data']['context']['timestamp']}&nbsp;&nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Name</strong>: @{triggerBody()['data']['context']['resourceName']}</p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                },
                                "Case_2": {
                                    "case": "AlertOnLessCurrentSchemaColumns",
                                    "actions": {
                                        "Post_a_message_(V3)_8": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><strong>Current schema has less columns than previous schema Alert<br>\n</strong><br>\n<br>\n<strong>Alert generated by resource: &nbsp;</strong>@{triggerBody()?['data']?['context']?['id']}<br>\n<strong>Alert name: </strong>&nbsp;@{triggerBody()['data']['context']['name']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Alert Description:</strong> &nbsp;@{triggerBody()['data']['context']['description']} &nbsp;&nbsp;<br>\n<strong>ResourceGroup Name</strong>: &nbsp;@{triggerBody()['data']['context']['resourceGroupName']}<br>\n<strong>Alert time</strong>: &nbsp;@{triggerBody()['data']['context']['timestamp']}&nbsp;&nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Name</strong>: @{triggerBody()['data']['context']['resourceName']}</p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                },
                                "Case_3": {
                                    "case": "AlertOnSameColumnsButDiffArrangement",
                                    "actions": {
                                        "Post_a_message_(V3)_9": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><strong>Current both schemas has same columns but different arrangement of schemas alert !<br>\n<br>\n<br>\nAlert generated by resource</strong>: @{triggerBody()?['data']?['context']?['id']}<br>\n<strong>Alert name</strong>: @{triggerBody()['data']['context']['name']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Alert Description</strong>: @{triggerBody()['data']['context']['description']} &nbsp;&nbsp;<br>\n<strong>ResourceGroup Name</strong>: @{triggerBody()['data']['context']['resourceGroupName']}<br>\n<strong>Alert time</strong>: @{triggerBody()['data']['context']['timestamp']}&nbsp;&nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Name</strong>: @{triggerBody()['data']['context']['resourceName']}</p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                },
                                "Case_4": {
                                    "case": "AlertOnChangedDataType",
                                    "actions": {
                                        "Post_a_message_(V3)_6": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": {
                                                        "content": "<p><strong>Data Type of one or more column(s) is chanaged Alert !<br>\n<br>\n<br>\nAlert generated by resource</strong>: @{triggerBody()?['data']?['context']?['id']}<br>\n<strong>Alert name</strong>: @{triggerBody()['data']['context']['name']} &nbsp;&nbsp;&nbsp;<br>\n<strong>Alert Description</strong>: @{triggerBody()['data']['context']['description']} &nbsp;&nbsp;<br>\n<strong>ResourceGroup Name</strong>: @{triggerBody()['data']['context']['resourceGroupName']}<br>\n<strong>Alert time</strong>: @{triggerBody()['data']['context']['timestamp']}&nbsp;&nbsp;&nbsp;&nbsp;<br>\n<strong>Resource Name</strong>: @{triggerBody()['data']['context']['resourceName']}</p>",
                                                        "contentType": "html"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v3/beta/teams/@{encodeURIComponent('0f83d323-c7b7-4f4f-88c4-feebc9fbab23')}/channels/@{encodeURIComponent('19:0ef995481b924089b81e7c1bb21a2ab7@thread.tacv2')}/messages"
                                            }
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@triggerBody()?['data']?['context']?['name']",
                            "type": "Switch"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "teams": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connection_name'))]",
                                "connectionName": "parameters('connection_name')",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/eastus/managedApis/teams')]"
                            }
                        }
                    }
                }
            }
        }


  ]
}
